header {
  width: 100%;
  background-color: #ffffff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 25px rgb(0 0 0 / 0.1);
  color: #dd4a48;
}

h1 {
  margin-left: 1rem;
  font-size: 2rem;
}

.header-button {
  margin: 1rem;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
  color: white;
  background-color: red;
}
