.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  background-color: #e7f3ff;
  color: #18a0f7;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

.start-container ul {
  list-style: none;
}

.start-container ul li {
  font-size: 1rem;
}
